body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.accueil1 {
    background-color:#008CBA;
    color: white;
}

.accueil2 {
    background-color:#f44336;
    color: white;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active):not(.accueil1):not(.accueil2) {
  background-color: #555;
  color: white;
}
table
{
    border-collapse: collapse;
}
td, th
{
    border: 1px solid black;
}
